
html{
    background-color: #03e2bd;
}


body{
    margin:0;
    padding-top:70px;
    display:block;
}

header{
    position:fixed;
    display:flex;
    height:70px;
    border-bottom: 1px solid #fa4103;
    width: 100%;
    justify-content: space-between;
    z-index: 10;
    top:0;

    background-color:   #03e2bd;
    
}
/*  #03e2bd teal background color used for header and accents 
#fa4103 previous color's complementary color*/

ul {
    list-style: none;
    float: right;
    display:inline-flex;
    padding-left: 40px;
    padding-right: 40px;
    margin:10px;
}

li {
    display: inline;
    padding: 1rem;
}

#project-button {
    border-left: 1px solid #fa4103;
    border-right: 1px solid #fa4103;
}

.about {
    display: flex;
    margin: 0 auto;
    height:850px;
    justify-content: space-around;
    flex-wrap: wrap;
    border-bottom: 1px solid #fa4103 ;
}

.about img{
    height: 750px;
    width:500px;
    margin: 0 auto;
    padding-top: 50px;
    flex-shrink: 1.5;
}

.about-me {
    display: block;
    max-width: 800px;
    margin: 0 auto;
    align-self:center;
}